body {
  background: #000;
  background: -webkit-gradient(linear, left top, right top, from(#eee), to(#eee) );
  overflow-x: hidden;
}

.container {
  text-align: center;
  margin: 0 auto;
}

.page {
  margin-top: 15px;
}

.page:first-child {
  margin: 0px;
}

.pagecontent {
  border: 2px solid #555;
  max-width: 99%;
  min-width: 500px;
}

#progressbar {
  position: fixed;
  left: 5px;
  top: 10px;
  width: 200px;
  height: 16px;
  -webkit-transition: opacity 3s linear;
}

#indicator {
  position: fixed;
  left: 215px;
  top: 10px;
  font-family: 'Ropa Sans', sans-serif;
  font-size: large;
  -webkit-transition: opacity 3s linear;
}

#subscribe {
  float: right;
}

#unsubscribe {
  margin-top: 5px;
  float: right;
}

#button {
  position: fixed;
  width: 32px;
  right: 5px;
  top: 10px;
  opacity: 0.2;
  -webkit-transition: opacity 0.5s linear;
}

#button:hover {
  opacity: 1;
}

#nav {
  position: fixed;
  right: 5px;
  bottom: 5px;
}

#prev:hover,#next:hover,#menu:hover {
  opacity: 1;
}

#prev,#next,#menu {
  opacity: 0.2;
  -webkit-transition: opacity 0.5s linear;
}

#prev {
  margin-right: 2px;
}
