body {
  background: #dfdfdf;
  font-family: 'Courier New', monospace;
}
div {
  font-family: 'Courier New', monospace;
}
.eox-page {
  min-width: 600px;
  margin: 0 auto 30px 25px;
}
.eox-page img {
  padding-top: 6px;
  display: block;
  max-width: 100%;
  margin: 0 auto;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,0.4);
}
.eox-button {
  position: fixed;
  right: 15px;
  opacity: 0.4;
  -webkit-transition: opacity 0.3s linear;
}
.eox-button:hover {
  opacity: 1;
}
#eox-sub {
  top: 10px;
}
#eox-resize {
  top: 10px;
}
#eox-prev {
  bottom: 90px;
}
#eox-menu {
  bottom: 50px;
}
#eox-next {
  bottom: 10px;
}
#eox-panel {
  font-family: 'Courier New', monospace;
  font-size: 10pt;
  color: #fff;
  position: fixed;
  bottom: 10px;
  right: 80px;
  padding: 20px 0 20px 80px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3);
  -webkit-transition: all 0.3 ease-in-out;
}
#eox-panel h1 {
  color: #fff;
  font-size: 10pt;
}
#eox-panel li {
  padding-bottom: 2px;
  font-family: 'Courier New', monospace;
}
#eox-panel li span {
  color: #efbb24;
  font-family: 'Courier New', monospace;
}
#eox-panel li:nth-child(3),
#eox-panel li:nth-child(4),
#eox-panel hr {
  position: relative;
  left: -40px;
}
#eox-panel hr {
  width: 170px;
}
