!!! 5
html
  head
    // Script
    script(src="script/jquery-1.7.1.min.js")
    script(src="script/jquery.url.js")
    script(src="script/jquery-ui-1.8.17.custom.min.js")
    script(src="script/background.js")
  body
    canvas#canvas
    