body {
  background-color: #eee;
}

.container {
  width: 50%;
  min-width: 480px;
  margin: 20px auto 0;
}

.headline {
  float: left;
  font-size: 28px;
  height: 48px;
  line-height: 48px;
  margin-left: 20px;
  font-weight: bold;
}

li {
  margin: 10px;
}
