.container {
  margin: 0;
  padding: 3px;
  width: 250px;
}

.episode {
  margin: 0;
  padding: 0;
  height: 28px;
}

.episode:hover {
  background-color: #e5e5e5;
}

.title {
  margin: 0;
  padding: 0;
  width: 150px;
  float: left;
  line-height: 24px;
  font-family: sans-serif;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.label {
  float: right;
  margin: 5px 2px;
}

body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background-color: #eee;
}