!!! 5

html(lang='zh_TW')
  head
    meta(charset='UTF-8')
    script(src='js/jquery-1.7.1.min.js')
    script(src='js/options.js')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/options.css')
  body
    .container
      .row
        .span6.offset3
          header
            img(src='icon48.png')
            span 鄉民之眼
          form.form-horizontal
            legend 同步設定
            .alert.alert-info
              h4 請注意
              | 同步功能是為了讓多台電腦可看到同樣的列表。只有一台電腦的使用者可以不需使用，以加快讀取速度哦！
            .control-group
              label.control-label(for='account') 帳號
              .controls
                input#account.(type='text', required)
                span.help-inline 目前已使用此帳號同步
            .control-group
              label.control-label(for='password') 密碼
              .controls
                input#password(type='password', required)
                span.help-inline 密碼錯誤
            .control-group
              label.control-label(for='retype') 密碼確認
              .controls
                input#retype(type='password', required)
                span.help-inline 二次輸入密碼不相符
            .control-group
              .controls
                button#mysubmit.btn.btn-primary 提交
                button#reset.btn.btn-danger 重設