@import "global";

$column_width: 290px;
$total_width: 900px;
$gitter: ($total_width - 3 * $column_width) / 2;
$item_height: 36px;
$li_height: 72px;

.container {
  padding: 16px;
  width: $total_width;
}

#site {
  margin-bottom: 16px;
  li {
    background: rgba(black, 0.1);
    border-radius: $radius;
    box-shadow: 1px 1px 1px rgba(white, 0.8);
    float: left;
    font-size: 1.2em;
    height: $item_height;  
    line-height: $item_height;
    margin-right: $gitter;
    text-align: center;
    width: $column_width;
    &:last-child { margin-right: 0; }
    #eightComicLink:hover {
      background: rgba($color_8comic, 0.5);
      border-radius: $radius;
    }
    #dm5Link:hover {
      background: rgba($color_dm5, 0.5);
      border-radius: $radius;
    }
  }
}

.column {
  float: left;
  margin: 0 $gitter 16px 0;
  width: $column_width;
  &:last-child { margin-right: 0; }
  ul {
    border-radius: $radius;
    box-shadow: 1px 1px 1px rgba(white, 0.8);
  }
  li {
    background: rgba(black, 0.1);
    height: $li_height;
    overflow: hidden;
    padding: 8px;
    position: relative;
    &:nth-child(even) { background: rgba(black, 0.15); }
    &:first-child {
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
    }
    &:last-child {
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;
    }
    &:hover { background: rgba(yellow, 0.15); }
  }
}

.new {
  -webkit-transform: rotate(35deg);
  background: $color_red;
  box-shadow: 0 1px 4px rgba(black, 0.2);
  color: white;
  font-size: 0.2em;
  padding: 3px 0;
  position: absolute;
  right: -32px;
  text-align: center;
  top: 5px;
  width: 100px;
}

.read {
  @extend .new;
  background: $color_orange;
  top: 7px;
}

.cover {
  float: left;
  height: $li_height;
  overflow: hidden;
  width: 20%;
  img {
    height: auto;
    width: 100%;
    #sfacg & {
      height: 100%;
      width: auto;
    }
  }
}

.info {
  float: left;
  margin-left: 5%;
  width: 60%;
  .title {
    font-size: 1.2em;
    line-height: 1.6em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .episode, .edge {
    @extend .title;
    color: rgba(black, 0.4);
    font-size: 0.8em;
  }
}

input {
  float: left;
  font-size: .8em;
  margin-top: 20px;
  padding: 8px 3px;
  width: 15%;
}

.clearfix {
  display: inline-block;
  &:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
  }
}
 
html[xmlns] .clearfix { display: block; }
 
* html .clearfix { height: 1%; }