@import "global";

$li_height: 72px;
$header_height: 36px;

.container {
  border-top: solid 6px $color_green;
  padding: 0 18px;
  width: 300px;
}

nav {
  li {
    border-radius: 0 0 $radius*2 0;
    box-shadow: 0 2px 2px rgba(black, 0.2);
    display: inline-block;
    padding: 24px 0 8px 8px;
    width: 29%;
    &.active {
      background: $color_green;
      color: white;
    }
  }
}

.tab {
  float: left;
  width: 100%;
  &:last-child { margin-right: 0; }
  ul {
    border-radius: $radius;
    box-shadow: 1px 1px 1px rgba(white, 0.8);
    margin: 18px 0;
  }
  li {
    background: rgba(black, 0.1);
    height: $li_height;
    overflow: hidden;
    padding: 8px;
    position: relative;
    &:nth-child(even) { background: rgba(black, 0.15); }
    &:first-child {
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
    }
    &:last-child {
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;
    }
    &:hover { background: rgba(yellow, 0.15); }
  }
  header {
    @extend ul;
    background: rgba(black, 0.1);
    color: rgba(black, 0.4);
    font-size: 1em;
    height: $header_height;
    line-height: $header_height;
    text-align: center;
  }
}

.tab-hide { display: none; }
.tab-show { display: inherit; }

header {
  #eightComic &:hover { background: rgba($color_8comic, 0.5); }
  #dm5 &:hover { background: rgba($color_dm5, 0.5); }
  #sfacg &:hover { background: rgba($color_sfacg, 0.5); }
}

.new {
  -webkit-transform: rotate(35deg);
  background: $color_red;
  box-shadow: 0 1px 4px rgba(black, 0.2);
  color: white;
  font-size: 0.2em;
  padding: 3px 0;
  position: absolute;
  right: -32px;
  text-align: center;
  top: 5px;
  width: 100px;
}

.read {
  @extend .new;
  background: $color_orange;
  top: 7px;
}

.cover {
  float: left;
  height: $li_height;
  overflow: hidden;
  width: 20%;
  img {
    height: auto;
    width: 100%;
    #sfacg & {
      height: 100%;
      left: -50%;
      position: relative;
      width: auto;
    }
  }
}

.info {
  float: left;
  margin-left: 5%;
  width: 60%;
  .title {
    font-size: 1.2em;
    line-height: 1.6em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .episode, .edge {
    @extend .title;
    color: rgba(black, 0.4);
    font-size: 0.8em;
  }
}

input {
  float: left;
  font-size: .8em;
  margin-top: 20px;
  padding: 8px 3px;
  width: 15%;
}
