body
  background #dfdfdf

.eox-page
  min-width 600px
  margin 0 auto 30px 25px
  img
    padding-top 6px
    display block
    max-width 100%
    margin 0 auto
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .4)

.eox-button
  position fixed
  right 15px
  opacity 0.4
  -webkit-transition opacity 0.3s linear
  &:hover
    opacity 1

#eox-sub
  top 10px

#eox-resize
  top 10px

#eox-prev
  bottom 90px

#eox-menu
  bottom 50px

#eox-next
  bottom 10px

